
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 115%;
  background-color: bisque;
}
header nav ul {
  background: linear-gradient(to right, rgb(0, 229, 255), rgb(117, 208, 48));
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  border-color: rgb(35, 131, 72);
  border-style: solid;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
}
.link:hover {
  color: rgb(193, 119, 22);
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.image_content {
  display: flex;
  flex-wrap: wrap;
}
.image_company img {
  width: 200px; 
  height: 200px;
}
.image_company img:nth-child(2n){
  background-color: rgb(81, 128, 11);
  border: 2px solid gray;
  padding: 5px;
  margin: 5px;
  border-radius: 25%;
}
.image_company img:nth-child(2n+1){
  background-color: rgb(81, 128, 11);
  border: 2px solid gray;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
}
.image_company img:nth-child(2n):hover{
  background-color: rgb(202, 158, 87);
  border: 2px solid gray;
  padding: 5px;
  margin: 5px;
  border-radius: 0%;
}
.image_company img:nth-child(2n+1):hover{
  background-color: rgb(202, 158, 87);
  border: 2px solid gray;
  padding: 5px;
  margin: 5px;
  border-radius: 0%;
}

.image_index img {
  width: 50%;
  height: auto;
}
.image_game {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 10px; 
}

.game_item img {
  width: 100%;
  height: auto;
}
.game_item p {
  text-align: center;
  opacity: 0; 
  transition: opacity 0.5s ease 0.1s;
}
.game_item:hover p {
  opacity: 1;  
}

h1 {
  color: rgb(163, 17, 29);
  text-align: center;
}
h2 {
  color: rgb(156, 59, 14);  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#biggerPicture {
  line-height:300px;
	width: 575px;
  height: 320px;
	border:5px solid rgb(99, 31, 86);
	margin: 50px auto;
  background-color: #a2c458;
  background-image: url('');
  background-repeat: no-repeat;
  color:#FFFFFF;
  text-align: center;
  background-size: 100%;
  margin-bottom:25px;
  font-size: 150%;
}
p {
  color:brown;
}

#toTop {
  position: fixed;
  top: 90%;
  left: 85%;
  width: 110px;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px rgb(77, 74, 74);
  transition: transform 0.2s ease;
}
#toTop:hover {
  background-color: #378139;
  box-shadow: 2px 2px 10px rgb(77, 74, 74);
  transform: scale(1.1);
}
#toTop a {
  text-decoration: none;
  color: white;
}
#result {
  display: none;
  color: #237f26;
}
#showName, #hiddenName {
  border: 2px solid rgb(43, 101, 155);
  background-color: rgb(146, 192, 207);
  border-radius: 5px;
  padding: 7px;
  box-shadow: 2px 2px 5px rgb(138, 135, 135);
}
#showName:hover, #hiddenName:hover {
  background-color: rgb(101, 126, 178);
}


footer {
  background: linear-gradient(to right, rgb(136, 136, 212), rgb(153, 187, 227));
  margin-top: 100px;
  border: 2px solid rgb(151, 151, 194);
  border-radius: 25px;
  padding: 5px;
  text-align: center
}